.CerrarSesion {
        -fx-background-color: #d9534f;
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-background-radius: 5px;
    }

    .CerrarSesion:hover {
        -fx-background-color: #c9302c;
    }

    .CerrarSesion:pressed {
        -fx-background-color: #ac2925;
    }

    .CardPane{
        -fx-background-color: #293540;
    }

    .buttonOpciones{
        -fx-background-color: #293540;
        -fx-cell-size: 15px;
        -fx-text-fill: white;
    }

    .buttonOpciones:hover{
    -fx-background-color: #293540;
    -fx-cell-size: 15px;
    -fx-text-fill: #c2c2c2;
    }

    .Pane{
        -fx-background-color: #1ba67e;
    }

    .Configuracion{
        -fx-background-color: #1ba67e;
    }

    .Pane2{
        -fx-background-color: #dae4ea;
    }